<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			<span *ngIf="!modalPresented" (click)="close()">{{'cancel' | translate}}</span>
			<button [disabled]="modalPresented" style="font-size: 1.3rem !important;" ion-button class="end"
				(click)="save()">
				{{'continue' | translate}}
			</button>
		</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-row>
			<ion-col col-11>
				<ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"
					placeholder="{{'search_location' | translate}}"></ion-searchbar>
			</ion-col>
			<ion-col col-1>
				<ion-icon name="md-locate" (click)="detect()"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-toolbar>
	<ion-list>
		<ion-item *ngFor="let place of places" (click)="selectPlace(place)">{{place.description}}</ion-item>
	</ion-list>
</ion-header>
<ion-content>
	<div #pleaseConnect id="please-connect">
		<p>{{'please_connect_to_the_internet' | translate}}</p>
	</div>
	<div #map id="map">
		<ion-spinner></ion-spinner>
	</div>
</ion-content>