<ion-header>
	<ion-navbar>
		<ion-title>{{'cart_title' | translate}}
			<ion-icon name="md-close" class="close-icon end" (click)="dismiss()"></ion-icon>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="bg-light">
	<div class="your-cart">
		<ion-card *ngFor="let item of cartItems">
			<ion-card-content>
				<ion-row>
					<ion-col col-3>
						<div *ngIf="item.product.images && item.product.images.length" class="img-box">
							<img data-src="{{item.product.images[0].src}}">
						</div>
						<div *ngIf="item.product.images == null || item.product.images.length == 0" class="img-box">
							<img src="assets/imgs/suit_PNG8132.png">
						</div>
					</ion-col>
					<ion-col col-9>
						<h4>
							<span>{{item.product.name}}</span>
							<ion-icon text-end name="md-trash" class="icon text-light" (click)="removeItem(item.product)"></ion-icon>
						</h4>
						<div class="rate">
							<div style="display: flex;" class="price-box">
								
							</div>
							<div class="quantiy">
								<ion-item>
									<!-- <p>{{'quantity' | translate}}</p> -->
									<h2 class="d-flex" item-end>
										<span class="add_remove_btn" (click)="decrementItem(item.product)">-</span>
										<strong>{{item.quantity}}</strong>
										<span class="add_remove_btn" style="position: relative; top: 0px;" (click)="incrementItem(item.product)">+</span>
									</h2>
								</ion-item>
							</div>
						</div>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>

		<ion-row class="checkout">
			<ion-col col-6>
				<h6 class="">
					
				</h6>
			</ion-col>
			<ion-col col-6>
				<button ion-button full class="bg-thime btn-round btn-text btn-shadow" (click)="proceedCheckout()">
					{{checkoutText}}
				</button>
			</ion-col>
		</ion-row>

	</div>
</ion-content>