page-contact_us {
	.banner {
		max-width: 365px;
		margin: 5px auto 74px auto;
	}

	.container {
		width: calc(100% - 70px);
		margin: 0 auto;

		h1 {
			margin: 0;
			font-weight: 800;
			font-size: 2.3rem;
			padding-bottom: 17px;
		}

		h2 {
			font-size: 1.34rem;
			margin: 0;
			padding-bottom: 25px;
			font-weight: 500;

		}

		//		.button.btn { 
		//			border-radius: 5px !important; 
		//			font-size: 1.3rem!important;
		//			font-weight: 500;
		//			letter-spacing: .5px; 
		//
		//		}
	}
}